{%  extends 'quiz/quiz_base_template.html' %}
{% load quiz_extras %}
{% block content %}
    <div class="container text-center">
    <p class="h2 mt-3">Quiz title : {{ quiz.title }}</p>
    <hr>
        <p class="h4 mb-5">
              <span class="badge badge-pill text-white bg-danger">{{ QO|plus_one }}</span>
            {{ quiz.questions.all|get:QO|get_title }}
        </p>
    <form method="post" action="{% url 'quiz:quiz-view' quiz_number %}">
        {% for choice in choices %}
        <div id="ck-button" class="btn btn-primary mx-3">
        <label for="accept">
            <input id="accept" name='ans' type="radio" value="{{ choice }}" required="required" class="btn btn-primary" />
            <span>{{ choice }}</span>
        </label>
        </div>
        {% endfor %}
        <br>

        <input name="QO" value="{{ QO|plus_one }}" hidden>
        <input type="submit" value="Next" class="btn btn-success mt-5">
        {% csrf_token %}
    </form>
    </div>
{% endblock %}
