{% extends 'accounts/accounts_base_template.html' %}
{% load bootstrap %}
{% block content %}
<div class="container mt-3">
    <p class="h1 text-center">Edit Profile</p>
    <form  method="post">
    {{ form|bootstrap }}
        {% csrf_token %}
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Update
</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Do you really want to update your profile?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <input type="submit" class="btn btn-primary" value="Yes">
          </div>
        </div>
      </div>
    </div>
</form>
</div>
{% endblock %}
