{% extends 'accounts/accounts_base_template.html' %}
{% load quiz_extras %}
{% block content %}
<div class="container">
    <p class="h1 text-center" >Panel</p>

    <div class="card">
      <div class="card-header bg-success">
        Quizzes you took:
      </div>
      <div class="card-body">
      {% if quizzes.count == 0 %}
                    <h5 class="card-title text-black-50 text-center">you never take any quiz.</h5>
      {% else %}
        {% for quiz in quizzes %}
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="card-title">{{ quiz.title }}</h5>
                </div>
                <div class="col-sm-6 text-right mt-2">
                    <a href="{% url 'quiz:quiz-view' quiz.pk %}" class="btn btn-primary">Re-take</a>
                </div>
            </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>

    <div class="card mt-5">
          <div class="card-header bg-info">
            Words you looked for:
          </div>
          <div class="card-body">
          {% if quizzes.count == 0 %}
                    <h5 class="card-title text-black-50 text-center">there is not any search history.</h5>
          {% else %}
    {% for word in words %}
        <div class="row">
            <div class="col-sm-6">
        <h5 class="card-title">{{word}}</h5>
            </div>
            <div class="col-sm-6 text-right">
        <h5 class="card-title">{{ word.translation }}</h5>
            </div>
        </div>
    {% endfor %}
    {% endif %}
        </div>
    </div>
</div>
{% endblock %}