{% extends 'accounts/accounts_base_template.html' %}
{% block content %}
<div class="container">
    <p class="h1 text-center" >Panel</p>

    <div class="card">
      <div class="card-header bg-success">
        Quizzes you took:
      </div>
      <div class="card-body">
        <h5 class="card-title">Vocab I</h5>
        <p class="card-text">point : 8</p>
        <h5 class="card-title">Vocab II</h5>
        <p class="card-text">point : 4</p>
      </div>
    </div>


    <div class="card mt-5">
          <div class="card-header bg-info">
            Words you looked for:
          </div>
          <div class="card-body">
            <h5 class="card-title">Easy</h5>
        <h5 class="card-title">Hello</h5>
          </div>
        </div>

</div>
{% endblock %}