{% extends 'accounts/accounts_base_template.html' %}
{% load bootstrap %}
{% block content %}
<div class="container mt-3">
    <p class="h1 text-center">Profile</p>
    <div class="text-center">
    <img class="rounded" src="{% url 'accounts:get-avatar' object.username  %}" width="100" class="img-fluid" alt="Avatar">
    </div>
    <br>
    <div class="badge badge-primary text-wrap">username:</div> {{ object.username }}
    <br>
    <div class="badge badge-primary text-wrap">Display Name:</div> {{ object.display_name }}
    <br>
    <div class="badge badge-primary text-wrap">email:</div> {{ object.email }}
    <br>
    <div class="badge badge-primary text-wrap">bio:</div> {{ object.bio }}
    <br>
    <div class="badge badge-primary text-wrap">points:</div> {{ object.point }}
    <br>
    <a href="{% url 'accounts:edit-profile' object.username %}">
        <button class="btn btn-secondary mt-5">Edit Profile</button>
    </a>
</div>
{% endblock %}
