{% extends 'dict/dict_base_layout.html' %}
{% load bootstrap %}
{% block content %}
    <div class="container my-3">
    <h3>Dictionary</h3>
    <form action="" method="post">
        {{ form|bootstrap }}
        {% csrf_token %}
        <input type="submit" class="btn btn-secondary" value="Search">
    </form>

    <hr>
    {% if error %}

        <div class="alert alert-primary" role="alert">
            We don't know that word yet!<br>
            but if you want to make our project better
            <a href="{% url 'dict:add-word' %}" class="alert-link">you can add it here!</a>
        </div>

    {% else %}
        <br>
    <div class="badge badge-primary text-wrap" style="width: 6rem;">word:</div>        : {{ word }}
    <br>
    {%  if defi != '' %}
    <div class="badge badge-primary text-wrap" style="width: 6rem;">Definition:</div>        : {{ defi }}
    <br>
        {% endif %}
    <div class="badge badge-primary text-wrap" style="width: 6rem;">Translation:</div>        : {{ translation }}
    <br>
    {%  if defi != '' %}
    <div class="badge badge-primary text-wrap" style="width: 6rem;">Example:</div>        : {{ example }}
        {%  endif %}
    {% endif %}

</div>
{% endblock %}