<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %} EasyVocab {% endblock %}</title>
</head>
<body bgcolor="#7fffd4">
menu :
<a href="{% url 'home' %}">Easyvocab</a>
<a href="{% url 'dict:index' %}">Dictionary</a>
<br>
accounts:

{% if user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">Logout</a>
    hello {{ user.get_username }}
{% else %}
    <a href="{% url 'accounts:signup' %}">SignUp</a>
    <a href="{% url 'accounts:login' %}">Login</a>
{% endif %}

<br>

quiz:
<a href="{% url 'quiz:test' %}">Test</a>



<div style="padding: 100px">
{% block content %}
    <h1>Welcome to Easyvocab</h1>
{% endblock %}
</div>
</body>
</html>