<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{%  block title %} EasyVocab {% endblock %}</title>
</head>
<body class="bg-light text-dark">


<nav class="navbar navbar-expand-lg navbar-light bg-primary">
   <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'img/vocabulary.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    EasyVocab
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accounts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'accounts:login' %}">SignIn</a>
          <a class="dropdown-item" href="{% url 'accounts:signup' %}">SignUp</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dict:index' %}">Dictionary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'quiz:index' %}">Quiz</a>
      </li>
    </ul>
      {% if user.is_authenticated %}
      <p class="form-inline my-2 my-lg-2">
        point : {{ user.point }}
    </p>
      {% endif %}
  </div>
</nav>

<div class="container text-center auto-mx">
{% block content %}
    <h1>Welcome to Easyvocab</h1>
    <a href="{% url 'accounts:login' %}"><button type="button" class="btn btn-outline-primary btn-lg ">Login</button></a>
    <a href="{% url 'accounts:signup' %}"><button type="button" class="btn btn-outline-secondary btn-lg">Sign Up</button></a>
{% endblock %}
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
